.titleWrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }
 
.cardWrapper{
    margin-top: 18px;
}

.wrapper{
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.toggleText{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}