.wrapper{
    width: 160px;
}
.card{
    position: relative;
    width: 159px;
    height: 205px;
    overflow: hidden;
    border-radius: 10px;
}
.banner{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 6px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
}   
.titleWrapper{
    color: var(--color-white);

    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.chip{
    background-color: var(--black-color);
    color: var(--color-white);
}